"\e[A": history-search-backward
"\e[B": history-search-forward
"\C-n": forward-word  
"\C-b": backward-word

set history-size 10000
set colored-stats on
set completion-ignore-case on
set show-all-if-ambiguous on
set visible-stats on

